<form id="flavorerForm">
  <h1>{{title}}</h1>

  <label for="textInput">Prompt:</label>
  <textarea style="height: 200px" id="llmmi-userPrompt" name="promptText"></textarea>
  <button type="submit" id="llmmi-submit">Submit</button>
</form>